name: CI

on: [push, pull_request]

jobs:
  test-job-unix:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        chunk: [1, 2]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots clean install -DskipTests

      - name: Make divide_tests.sh executable
        run: chmod +x scripts/divide_tests.sh

      - name: Run tests for chunk ${{ matrix.chunk }}
        run: ./scripts/divide_tests.sh 2 ${{ matrix.chunk }}

      - name: Publish Allure Report
        run: mvn allure:aggregate
